<%= form_for(@source, :class=>"form-horizontal") do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :identifier, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :identifier, :class=>"form-control" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :url, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :url, :placeholder=>"http://your_other_env.host/lit", :class=>"form-control" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :api_key, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :api_key, :class=>"form-control" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('lit.common.save', :default => "Save"), :class=>"btn btn-primary btn-sm" %>
  </div>
<% end %>
