<h1>Synchronization sources</h1>

<table class="table">
  <tr>
    <th>Identifier</th>
    <th>Last synchronization</th>
    <th>Last change (remote)</th>
    <th width="80px"></th>
  </tr>

<% @sources.each do |source| %>
  <tr>
    <td><%= link_to source.identifier, lit.source_path(source) %></td>
    <td><%= source.last_updated_at.to_s(:db) unless source.last_updated_at.nil? %></td>
    <td><%= source.get_last_change %></td>
    <td>
      <%= link_to lit.synchronize_source_path(source), :title=>t('lit.common.synchronize', :default=>"Synchronize") do %>
        <%= draw_icon 'refresh' %>
      <% end %>
      <%= link_to lit.source_path(source), :title=>t('lit.common.show', :default=>"Show") do %>
        <%= draw_icon 'zoom-in' %>
      <% end %>
      <%= link_to lit.edit_source_path(source), :title=>t('lit.common.edit', :default=>"Edit") do %>
        <%= draw_icon 'pencil' %>
      <% end %>
      <%= link_to lit.touch_source_path(source), :title=>t('lit.common.touch', :default=>"Touch (update) last_updated_at"), :method => :put, :data => { :confirm => 'Are you sure?' } do %>
        <%= draw_icon 'clock-o' %>
      <% end %>
      <%= link_to lit.source_path(source), :method => :delete, :data => { :confirm => 'Are you sure?' }, :title=>t('lit.common.delete', :default=>"Delete") do %>
        <%= draw_icon 'trash-o' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Source', new_source_path %>
