!!!
%html
  %head
    %title Lit
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    = stylesheet_link_tag    "lit/application", :media => "all"
    = javascript_include_tag "lit/application"
    = csrf_meta_tags
  %body{:class=>params[:controller]}
    .navbar.navbar-fixed-top.navbar-inverse
      %nav.navbar-inner
        .container
          = render 'layouts/lit/navigation'
    #main.container{:role => "main", :class=>params[:action]}
      .row
        .span12
          = render 'layouts/lit/messages'
          = yield
      %footer
        %hr/
        %p
          Brought to you by
          %a{:href=>"http://prograils.com/", :target=>"_blank"} Prograils.com
