<%= form_for @localization, url: lit.localization_key_localization_path(@localization_key, @localization, format: :json) do |f| %>
  <%- f.label :translated_value %>
  <% if @localization.translated_value.is_a?(Array) %>
    <ul style="list-style: none;">
      <% @localization.translated_value.each do |l| %>
        <li><%= text_field_tag 'localization[translated_value][]', l, class: 'form-control input-xlarge' %></li>
      <% end %>
    </ul>
  <% else %>
    <%= f.text_area :translated_value, size: '40x2', class: 'form-control input-xxlarge' %>
    <% if allow_wysiwyg_editor?(@localization_key.localization_key) %>
      <div class="pell"></div>
      <br />
      <label>
        <input type="checkbox" class="wysiwyg_switch" /> use wysiwyg editor
      </label>
      <br />
    <% end %>
  <% end %>

  <button class="btn btn-primary btn-sm" type="submit"><%= I18n.t('lit.common.update', default: "Update") %></button>
  <button class="btn btn-default btn-sm cancel" type="reset"><%= I18n.t('lit.common.cancel', default: 'Cancel') %></button>

  <% if Lit::CloudTranslation.provider %>
    <div class="btn-group pull-right">
      <%= link_to "Translate using #{Lit::CloudTranslation.provider.name.demodulize}", cloud_translation_path(from: I18n.default_locale, localization_id: @localization.id), class: 'btn btn-sm btn-default js-cloud-translation-link' %>
      <button class="btn btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
        <span class="caret"></span>
        <span class="sr-only">Source languages</span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a>Translate from:</a>
        </li>
        <li role="separator" class="divider"></li>
        <% (available_locales_with_default_first + [:auto]).each_with_index do |source_locale, i| %>
          <li>
            <%= link_to cloud_translation_path(from: source_locale, localization_id: @localization.id), class: 'js-cloud-translation-link' do %>
              <% if i == 0 %>
                <strong><%= source_locale.to_s %></strong>
              <% else %>
                <%= source_locale.to_s %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

