<span class="pull-right"><%= draw_icon 'times', :class=>"close_versions" %></span>
<table class="table table-condensed">
  <tr>
    <th><%= t('lit.common.previous_versions') %></th>
    <th width="25%"><%= t('lit.common.created_at') %></th>
  </tr>
  <% @versions.each do |v| %>
    <tr>
      <td>
        <%= render :partial=>"/lit/localization_keys/localization_row", :locals=>{:localization=>v.translated_value} %>
      </td>
      <td><%= v.created_at %></td>
    </tr>
  <% end %>
</table>
