<span class="pull-right"><%= draw_icon 'times', :class=>"close_versions" %></span>
<table class="table table-condensed">
  <tr>
    <th><%= I18n.t('lit.common.previous_versions') %></th>
    <th width="25%"><%= I18n.t('lit.common.changed_at') %></th>
  </tr>
  <% @versions.each do |v| %>
    <tr>
      <td>
        <%= render :partial=>"/lit/localization_keys/localization_row", formats: [:html], :locals=>{:localization=>v.translated_value} %>
      </td>
      <td><%= I18n.l v.created_at, format: :long %></td>
    </tr>
  <% end %>
</table>
