<h1>
  <%= t('.header', default: 'Hello header') %>
</h1>
<p id="welcome">
<%= t('scope.hello_world', default: 'Hello there') %>
</p>
<p>
<%= t('scope.text_without_default') %>
</p>
<p>
<%= t('scope.text_with_default', default: 'Default content') %>
</p>
<p>
<%= t('scope.some_strange_key') %>
</p>
<p>
<%= t('scope.simple_test_with_default_value', default: "Simple test with default value") %>
</p>
<p>
<%= t('scope.text_with_translation_in_english') %>
</p>
<p>
<%= t('date.abbr_day_names') %>
</p>
<hr />
<a href="https://google.com"><%= t('.go_to_google') %></a>
<hr />
  <%= t('.lorem_ipsum_long_1_html') %>
<p>
  <%= t('.sentence_1') %>
  <%= t('.sentence_2') %>
  <%= t('.sentence_3') %>
  <%= t('.sentence_4') %>
  <%= t('.sentence_5') %>
  <%= t('.sentence_6') %>
</p>
