<h3><%= I18n.t('lit.header', default: 'Localization keys') %></h3>

<%= render 'localizations_list', available_locales: I18n.backend.available_locales %>

<% if defined?(Kaminari)  %>
  <%= paginate @localization_keys, :theme=>"lit" %>
<% elsif defined?(WillPaginate)  %>
  <%= will_paginate @localization_keys %>
<% end %>

<%= render 'sidebar' %>
